/*body {
  background-color: #EDEBE3;
  font-family: 'Yu Gothic';
}

.fact {
  text-align: center;
}

.fact img {
  width: 100%;
}

.fact .year{
  font-size: 60px;
  letter-spacing: 2px;
  color: #38b48b;
  margin-top: 20px;
  margin-bottom: 50px;
}

.fact .desc {
  font-size: 25px;
  color: #8d6449;
  margin-bottom: 55px;
}*/

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #EDEBE3;
    font-family: 'Yu Gothic';
    font-size: 60px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #EDEBE3;

    /* Center slide text vertically */
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;*/
}

.swiper-slide .year {
  font-size:60px;
  letter-spacing: 2px;
  color: #333631;
}

.swiper-slide .desc {
  font-size: 36px;
  color: #8d6449;
}

.swiper-slide img {
  margin-top: 12px;
  max-width: auto;
  max-height: 200px;
}

@media screen and (max-width: 700px){
  .swiper-slide .year {
    font-size:10px;
    letter-spacing: 2px;
    color: #333631;
  }

  .swiper-slide .desc {
    font-size: 5px;
    color: #8d6449;
  }

  .swiper-slide img {
    margin-top: 5px;
    max-width: auto;
    max-height: auto;
  }
}
